* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
}

.container {
  width: 100vh
  height: 100vh;
  display: flex;
  justify-content: space-between;
  background: #444;
  color: #DDD;
}


.container > section {
  width: 50%;
  height: 100%;
}
